body{
    background-image:url(images/bgimg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  body{
    background-size:cover;
    flex-direction: column;
    margin: 0%;
    text-align: center;
  }

  .devhed{
    font-size: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
  }
  .devcont{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }


  .devmain{
    display: inline-block;
    width:20%;
    border-style: solid;
    border-radius:10px;
    background-color: white;
    padding: 10px;
  }

  

  @media screen and (max-width: 480px){
    .devhed{
      font-size: 20px;
    }
    .devcont{
      display:block;
      margin-left: 5%;

    }

    .devmain{
      width: 80%;
      display:block;
      margin-bottom:5vh;
    }

    .navbar{
      width: 100%;
    }

    .mapb{
      width: 100%;
    }
    .mapb iframe{
      width: 100%;
    }
  }

  .mapb{
    margin-top: 40px;
    width: 100%;
  backdrop-filter: blur(10px);
  border-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  }

  .footer{
    bottom: 0px;
    display:flex;
    width: 100%;
    background-color: #c1a780;
  }