body{
    background-image:url(images/bgimg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
  }
    

body .navbar{
    background-color: #c1a780;
    min-height: 8vh;
    max-height: 20vh;
    width:100%;
    display:flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
    box-shadow: 23px 4px 9px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
.navbar .cont1{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    flex-wrap: wrap;
}
.logo{
    height:10vh;
  }

.icons{
    margin-top: 10vh;
}
.navbar ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
}
.navbar ul li{
    margin: 0px 10px;
}
.cont2 {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lexend', sans-serif;
    align-items: flex-end;
    margin: 0px 20px;
    margin-left: auto;
    max-width: 100%;
    padding-left: 5vb;
}
.search_box{
    align-items: center;
    max-width: 33%;
    min-width:10%;
    justify-content: center;
    display: inline-flex;
}

.search_box input{
    width: 100%;
    max-width: 100vb;
    min-width:5vb;
    border-radius: 14px;
    margin-left: 1px;
    color: black;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
}
.search_box img{
    height: 20px;
}
::placeholder{
    color:black;
}
.cont1 .logo{
    height: 9vh;
}
  
.cont2 a:hover img {
    transform: scale(1.2);
}
.search{
    width:100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 4px;
    border-radius: 14px;
    background: white;
}
.cont1 a:hover{
    color: rgb(149, 132, 37);
    transform: scale(1.02);
}
.cont2 a:hover {
    color: rgb(149, 132, 37);
    transform: scale(1.02);
}

.search_box button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: none;
}

.search_box button:disabled {
    cursor: default;
}

.search_box button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: none;
}

.search_box button:disabled {
    cursor: default;
}

.center-box {
    width: 100%;
    height: 300px;
    background-color: #e7e5dba2;
    margin: 75px auto;
    text-align: center;
    font-family: 'Lexend', sans-serif;
}


.column {
    width: 33.33%;
    float:left;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

.box{
    background-color: #e7e5dba2;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

.ad{
    width: 100%;
    background-color: #e7e5db;
}