
.cont1 .logo{
  height: 9vh;
}

.cont2 a:hover img {
  transform: scale(1.2);
}
body{
  background-image: url(images/bgimg.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  margin: 0%;
}
  
.content{
  background-color:none;
  padding:50px;
  text-align: center;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-right: solid;
  width: 60%;
}
  .lg-cnt input{
    background: none;
    border-radius: 4px;
    height: 4vh;
    border: 0px;
    font-weight: 600;
    border-bottom: solid;
    border-color: black;
    width:25vb;
  }
.contmain{
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: 11vh;
  height: 68vh;
  width: 80%;
  min-width:200px;
  max-width:1000px;
  transform: translate(-50%, -50%);
  z-index: -1;
  backdrop-filter: blur(10px);
  border: solid;
  border-color: white;
  box-shadow: 9px 4px 11px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20vh;
}

.lg-cnt {
  background-color:none; 
  padding: 20px;
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  border-color: rgb(11, 11, 11);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: rgba(48, 43, 43, 0.5);
  width: 40%;
  overflow: hidden;
  }

  .lg-cnt h2 {
    text-align: center;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
  }

  .logfrm {
    display: flex;
    flex-direction: column;
  }

  .frm-grp {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .frm-grp label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }

 
  .form-group button {
    background-color: #05b205;
    color: #fff;
    padding: 10px;
    border: none;
    margin: 10px auto;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-group button:hover {
    background-image: none;
    background-color: #069b06;
  }

  .smb{
    align-self: center;
    width:100%;
  }


  .lginp{
    max-width: 50%;
    min-width: 10%;
    background:none;
    color: white;
    margin-bottom: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3vb;
    border:0px;
    border-bottom: solid;
  }
  .frm-grp img{
    margin-right: 3px;
  }
  .not_user{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 15px;
  }
  .not_user:hover{
    color: #3eeac2;
  }

  .lginp:focus{
    border:none;
    border-bottom:solid;
    outline: none;
  }

  .lginp::placeholder{
    color:rgb(195, 178, 178);
    font-weight: 600;
  }