body .navbar{
    background-color: #c1a780;
    min-height: 8vh;
    max-height: 12vh;
    width: 100%;
    display:flex;
    
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
}
.navbar .cont1{
    list-style: none;
    display: flex;
    font-family: 'Lexend', sans-serif;
    flex-wrap: wrap;
}
.logo{
    height:10vh;
  }

.icons{
    margin-top: 10vh;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.navbar ul li{
    margin: 0px 10px;
}
.cont2 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lexend', sans-serif;
    align-items: flex-end;
    margin: 0px 20px;
    margin-left: auto;
}
.search_box{
    align-items: center;
    width: 50%;
    justify-content: center;
}

.search_box input{
    width: 100%;
    padding: 4%;
    border-radius: 14px;
    margin-left: 14px;
    color: white;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: transparent;
}
.search_box img{
    height: 20px;
}
::placeholder{
    color:black;
}
.search{
    width: max-content;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2px;
    border-radius: 14px;
    background: white;
}
.cont1 a:hover{
    color: gold;
    font-weight: bolder;
}
.cont2 a:hover {
    color: gold;
    font-weight: bolder;
}

.material-symbols-outlined {
    margin-left: 10px;
}

.search_box button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: none;
}

.search_box button:disabled {
    cursor: default;
}

.material-symbols-outlined {
    margin-left: 10px;
}

.search_box button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: none;
}

.search_box button:disabled {
    cursor: default;
}