body{
    background-size:cover;
    flex-direction: column;
    margin: 0%;
    text-align: center;
  }

.main-cnt{
    margin-top: 5vh;
    border-style: solid;
    text-align: center;
}


  @media screen and (max-width: 480px) {
    .pi{
        width: 100%;
        border-bottom: solid;
        max-height:100vh;
        display: block;
    }
    .main-cnt{
        width: 95%;
        margin-left: 2.2%;
        margin-right: 2.5%;
        display: block;
    }

    .right{
      display: block;
    }

    body table{
        width: 90%;
        margin-top:2vh;
    }
    .tr{
        height: 2rem;
    }

    .navbar{
        max-width: 479px;
    }

    .btns{
      margin-top: 2vh;
    }

    .desc{
      height:100%;
    }
    
  }
  




  @media screen and (min-width: 480px) {

    .main-cnt{
        display: flex;
        width: 70%;
        max-height:80vh;
        
    }

    .pn{
        text-align: center;
    }
    
    table tr{
        height: 10vh;
    }
    table{
        width: 60%;
        margin-top: 5vh;
    }

    input[type="radio"]{
      transform: height;
      
    }
    .size{
      display: inline-flex;
    }

    .right{
      max-width:50%;;
      text-align: center;
      
    }

    .pd{
      max-height:100%;

    }

    .btns{
      margin-top: 5vh;
    }
    .pn{height: 20%;}

    .desc{height: 80%;}

    

  }   

  body table,th,td{
    border: solid;
    border-collapse: collapse;
  }

  tr:hover {background-color: #D6EEEE;}

  

  .btn2{
    background-color: white;
    color:#c1a780;
    width: 45%;
    display: inline-flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }

  .btn2:hover{
    background-color: #c1a780;
    color:white;
  }

  