body{
    background-size:cover;
    flex-direction: column;
    margin: 0%;
  }



  @media screen and (max-width: 480px) {

        .imgg{
          display: none;
        }


  }
  
  @media screen  and (max-width:537px) {
    .imgg{display: none;}
    
  }

  @media screen and (min-width: 537px) {
    .socials{
      display: none;
    }

  }   




  @media screen and (min-width: 481px) {

  }   
